<div class="block-content margBSmall">
    <div class=" profile margBSmall">
        <h1>{{ site.data.about.name }}</h1>
        <h3>{{ site.data.about.current_roles }}</h3>
    </div>
    <div class="row">
        <!-- {% for quote in site.data.about.quotes %}
            <div class="col-md-6"><p>{{ quote }}</p></div>
        {% endfor %} -->
        <div class="col-md-2"></div>
        <div class="col-md-8"><p>{{ site.data.about.description }}</p></div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="block-content">
    <div class="info">
        <div class="row">
            {% for detail in site.data.about.details %}
            <div class="col-md-6">
                <ul class="info-list clearfix">
                    <li>
                        <span class="inf">{{ detail.heading }}</span>
                        <span class="value">{{ detail.value }}</span>
                    </li>
                </ul>
            </div>
            {% endfor %}
            <div class="col-md-6">
                <ul class="info-list clearfix">
                    <li>
                        {% assign job = site.data.experience.experiences | where: "current", "true" %}
                        <span class="inf">Current Job</span>
                        <span class="value">{{ job[0].company }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row tCenter margTop">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a class="but opc-1" href="{{ site.github.url }}/assets/pdf/resume_{{ site.data.settings.resume_version }}.pdf" target="_blank">
                    <i class="far fa-arrow-alt-circle-down"></i>
                    Download my cv
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>