<div class="block-content ">
    <div class="block-info">
        <div class="row">
            <div class="col-md-12">
                <div class="info-holder margTMedium">
                    <div class="address-info">
                        <i class="icon-location"></i>
                        <p>{{ site.data.settings.profile.team }}</p>
                    </div>
                    <div class="contact-info tCenter">
                        <ul>
                            <li>
                                {% assign phone = site.data.about.details | where: "heading", "Phone" %}
                                {% assign mail = site.data.about.details | where: "heading", "Email" %}
                                <div class="ico">
                                    <a href="mailto:rajatsri94@gmail.com">
                                        <i class="icon-mail"></i>
                                    </a>
                                </div>
                                <p>Email : {{ mail[0].value }} </p>
                            </li>
                            <li>
                                <div class="ico">
                                    <a>
                                        <i class="icon-phone"></i>	
                                    </a>
                                </div>
                                <p>Tel : {{ phone[0].value }} </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>