<div class="block-content ">
    <div class="block-info">
        <div class="row">
            <div class="col-md-12">
                <div class="info-holder margTMedium">
                    <div class="address-info">
                        <i class="icon-location"></i>
                        <p>Geek Paradox</p>
                    </div>
                    <div class="contact-info tCenter">
                        <ul>
                            <li>
                                <div class="ico">
                                    <a href="mailto:rajatsri94@gmail.com">
                                        <i class="icon-mail"></i>
                                    </a>
                                </div>
                                <p>Email : rajatsri94@gmail.com </p>
                            </li>
                            <li>
                                <div class="ico">
                                    <a>
                                        <i class="icon-phone"></i>	
                                    </a>
                                </div>
                                <p>Tel : +91 9910364830</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>