<div class="block-content">
    <div class="timeline education">
        <div class="row ">
            <div class="col-md-12">
                <div class="exp-holder margTop">
                    {% for degree in site.data.education.degrees %}
                    <div class="exp">
                        <div class="hgroup">
                            <h4>{{ degree.name }}</h4>
                            <h6>
                                <i class="icon-calendar"></i>{{ degree.timeline }}</h6>
                        </div>
                        <p>{{ degree.line1 }}</p>
                        <p>{{ degree.line2 }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>