<div class="block-content ">
    <div class="works">
        <div class="row">					
            <div class="block-filter tCenter">
                <ul id="category" class="filter">
                {% for filter in site.data.projects.filters %}
                    <li><a data-filter="{{ filter.link }}" href="#" class="{% if filter.active%}active{% endif %}">{{ filter.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">					
            <div class="divider-m tCenter margTSSmall margBSmall clearfix">
                <div class="col-md-12">
                    <div class="zigzag medium clearfix "  data-svg-drawing="yes" >
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path d="M1.357,12.26 10.807,2.81 20.328,12.332 29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                    </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="work">
            {% for project in site.data.projects.projects %}
                <li class="col-md-6">
                    <div class="item {{ project.filters | join: ' ' }}">
                        <a href="{{ project.link }}">
                            <div class="desc">
                                <h3 class="proj-desc"> {{ project.name }}
                                    <span class="zigzag work clearfix "  data-svg-drawing="yes" >
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="25" height="10" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332 29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                                        </svg>
                                    </span>
                                    {% for tag in project.tags %}
                                    <span>{{ tag }}</span>
                                    {% endfor %}
                                </h3>
                            </div>
                            <img data-src="{{ site.github.url }}/assets/img/projects/{{ project.image }}.png" class="project-img lazy">
                        </a>
                    </div>
                </li>    
            {% endfor %}
            </ul>		
        </div>
    </div>
    <div class="clearfix"></div>
</div>