{% for skill in site.data.skill.skills %}
<div class="block-content margBMedium">
    <div class="skill">
        <div class="row">
            <div class="vc">
                <div class="col-md-11">
                    <ul class="skills-list clearfix">
                    {% for progress in skill.progress %}
                        <li>
                            <div style="display: flex;">
                                <h4 style="color: {{ progress.color }}">{{ progress.skill }}</h4>
                                {% if progress.icon %}
                                <img class="skill-icon lazy" src="{{ site.github.url }}/assets/img/skills/{{ progress.icon }}.svg"/>
                                {% endif %}
                            </div>
                            <div class="progress">
                                {% if progress.color %}
                                <div class="percentage" style="background-color:{{ progress.color }}">{{ progress.percent }}%</div>
                                {% else %}
                                <div class="percentage" style="background-color:{{ skill.color }}">{{ progress.percent }}%</div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="title" style="border: 1 px dashed black">
                        <span>{{ skill.heading }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}